extends ./layouts/main

block javascripts
  script(src="/js/app.js")
  script(type="text/javascript")
    $(document).ready(function(){
      includeFooter( new Date() );
      $.getScript("/js/slidechute.js", onScriptLoaded );
        function onScriptLoaded(){
        }
    });  

block stylesheets
  link(rel="stylesheet", href="/css/main.css")
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Bree+Serif');
  style(type="text/css", media="screen")
    body{ 
      padding-top: 80px;
      padding-bottom: 40px;
    }

block content
  div(class="container")
    //Main hero unit for a primary marketing message or call to action
    div(class="hero-unit")
      a(href="#", class="span3 comp")
        img(src="/img/logo.png")
      p  <span>T</span>his holiday season we, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nulla at vero eros et accumsan et iusto odio dignissim qui praesent luptatum zzril delenit augue duis dolore te nulla facilisi, et cetera. 
    div(class="actions")
      //Example row of columns
      div(class="row")
        div(class="span4 icn-a")
          h2 Organizations
          p Win $40,000, two-month Tiziano Project training program in their community
          p
            a(class="btn", href="#") Sign up!
  
        div(class="span4 icn-b")
          h2 Student Group
          p Win a $15,000 grant + Tiziano support to complete a Tiziano Project Training program in a community of their choice
          p
            a(class="btn", href="#") Sign up!
  
        div(class="span4 icn-c")
           h2 Individual
           p Win a  round-trip ticket to anywhere in the world!
           p
            a(class="btn", href="#") Sign up!
  
  div(class="banner")
    div(class="row")
    //Display
    script(src="//s3.amazonaws.com/scripts.getchute.com/4411.js", type="text/javascript")
  
    div(class="banner2")
      div(class="row")
        p &nbsp;
        script(src="//s3.amazonaws.com/scripts.getchute.com/4412.js", type="text/javascript")
    
    div(class="info")
      H2 The TIZIANO PROJECT &amp; THE AMERICAN GIVING AWARDS
      div(class="video")
        iframe(src="http://player.vimeo.com/video/40612564?badge=0", width="830", height="467", frameborder="0")
      div(class="about")
        h3 <center>Help us win up to one million dollars!</center>

        h3 About the Tiziano Project

        p The Tiziano Project provides community members in conflict, post-conflict and underreported regions the equipment, training and affiliations they necessary to report their stories and improve their lives. 

        p Since 2008, we have been an innovator in both collaborative storytelling training and technology. We work around the world to train community members in how to document their lives to improve the world around them and to change perceptions of the communities they live in. We do this by focusing on ethical storytelling, unprecedented storytelling platforms and customized packaging of storytelling and curricula. 

        p In 2009, The Tiziano Project received a $25,000 grant from the Chase Community Giving Challenge. The voting contest was supported by local community members from around the world who wanted their stories told. We understand that the best stories are told by the communities with the greatest buy-in.

        h3 About the American Giving Awards

        p Produced by Dick Clark Productions and Intersport, the American Giving Awards will grant a total of $2 million to five charities from the list of 25 previous CCG winners asked to participate in the show. The five grant recipients will be the top vote-getters across each of the five designated categories.  Votes will be cast by Chase's online customers as well as Chase Community Giving (CCG) Facebook fans. The charity with the most votes overall will receive a $1 million grant, and the remaining grants will be given to each of the remaining four charities receiving the most votes in each category, in rank order by number of votes, as follows:  runner-up charity will be granted $500,000, the third place charity will receive a $250,000 grant, and the fourth and fifth place charities will each receive $125,000 grants each. 

        ul Each organization invited to participate will represent one of the five pre-determined categories recognizing the “building blocks” of our communities:
          li <span>Educators & Mentors:</span> For empowering our communities through education
          li <span>Heroes & Leaders:</span> For outstanding community contributions to human rights and social services
          li <span>Champions of Health &amp; Wellness:</span> For improving health and wellbeing in our communities
          li <span>Community Builders:</span> For excellence in serving our communities
          li <span>Youth Developers:</span> For inspiring and nurturing our youth that will help build stronger communities

        br        

        p The Tiziano Project will be competing in the Heroes and Leaders category. 
