extends ./layouts/main

block javascripts
  script(src="https://api.filepicker.io/v1/filepicker.js")
  script
    $(document).ready(function(){
       filepicker.setKey('Ape0OVEStOC6k9xtVvAeAz');
       filepicker.pick( onCompleteHandler );
       function onCompleteHandler( fpfile ){
         $(".confirm p").html('You just uploaded '+
          fpfile.filename+'! '+
          'You can download the file at '+ 
          "<a href='" + fpfile.url + "' target='_new'><img src='" + fpfile.url + "' border='0' /></a>" );

          $(".confirm").show();
          }
    });

block stylesheets
  style(type="text/css", media="screen")
    body{ 
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .confirm{
      display: none;
    }
    .confirm h2{
      color: red;
    }
    .confirm p{
      font-weight: bold;
    }
block content

  div(class="container")
    //Main hero unit for a primary marketing message or call to action
    div(class="hero-unit")
      div
        input(type="filepicker-dragdrop")
        //button(data-fp-mimetype="image/png", data-fp-url="http://www.filepicker.io/static/img/success.png") Save File

    div(class="row")
      div(class="span4 confirm")
        h2 Success
        p 