/******************
Spinnaker-Regular
******************/
@font-face {
  font-family: "Spinnaker-Regular";
  src:  url('../fonts/Spinnaker-Regular.eot'); /* IE 5-8 */
  src:  local('☺'), /* sneakily trick IE */
        url('../fonts/Spinnaker-Regular.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('../fonts/Spinnaker-Regular') format('truetype'), /* Opera, Safari */
        url('../fonts/Spinnaker-Regular#font') format('svg'); /* iOS */
}


/******************
Globals
******************/
html{

}
body{
    background: transparent;
    background-image: url("../img/gui/bg.png"), url("../img/gui/bg.png");
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    padding: 0;
	font-family: 'Bree Serif', sans-serif;
	font-size: 14px;
}
.hide{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
a{
	color: white;
}
/******************
Nav
******************/
.navbar-inner{
	background: transparent url("../img/gui/banner.png") top center repeat-x;
	height: 80px;
}
/******************
Hero Unit
******************/
.hero-unit{
	background: transparent;
	border: 0px solid green;
}
.hero-unit .comp{
	border: 0px solid red;
	margin-bottom: 40px;
}
.hero-unit p{
	font-size: 18px;
}
.hero-unit p span{
	font-family: 'Bree Serif', sans-serif;	
	color: #e43732;
	font-size: 48px;
}
/******************
Action
******************/
.row h2{
	font-family: 'Spinnaker-Regular', sans-serif;
	text-transform: uppercase;
	color: #e43732;
	font-size: 24px;
}
.row p{
	color: #333333;
	font-size: 14px;
}

.actions {
	margin-bottom: 40px;
}
.actions .span4 {
	padding-top: 219px;
	text-align: center;
}
.icn-a{
	background: transparent url("../img/actions/organizations.png") top center no-repeat;
}
.icn-b{
	background: transparent url("../img/actions/student-group.png") top center no-repeat;
}
.icn-c{
	background: transparent url("../img/actions/individual.png") top center no-repeat;
}

.btn {
  background-color: #da4f49;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #e53e38, #bd362f);
  background-image: -ms-linear-gradient(top, #e53e38, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e53e38), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #e53e38, #bd362f);
  background-image: -o-linear-gradient(top, #e53e38, #bd362f);
  background-image: linear-gradient(top, #e53e38, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'e53e38, endColorstr='#'bd362f, GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover{
	background: transparent;
  	background-color: #da4f49;
}
/******************
Banner
******************/
.banner .row{
	background-image: url("../img/gui/what-to-you-celebrate-this-season.png"), url("../img/gui/bg-green.png");
	background-position: center center, top left;
    background-repeat: no-repeat, repeat-x;
	height: 115px;
}
.banner2 .row{
	background-image: url("../img/gui/how-to-add-your-photo.png"), url("../img/gui/bg-green-red.png");
	background-position: center 120px, top left;
    background-repeat: no-repeat, repeat-x;
	height: 516px;
}

/******************
Footer
******************/
footer{
	background: transparent url("../img/gui/bg-footer.png") top left repeat-x;
	min-height: 70px;
	color: white;
}
footer .inner{
	margin: 0 auto;
	padding: 25px 20px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 767px) {
	.hero-unit{
		padding-bottom: 0;
	}
	.container{
		border: 1px solid blue;
	}
	footer .inner{
		width: auto;
	}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {
	.hero-unit{
	padding-bottom: auto;

	}
	.hero-unit .comp{
		margin-right: 40px;
	}
	footer .inner{
		width: 800px;
	}
}
@media only screen and (min-width : 980px) {
	.hero-unit{
		padding-bottom: auto;
	}
}
@media (min-width: 1200px){
	.hero-unit{
		padding-bottom: 90px;
	}
}
